.topNav {
  width: 100%;
  height: 75px;
  background-color: rgb(226, 145, 113);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topNav ul {
  display: flex;
  width: 25%;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.topNav li {
  cursor: pointer;
  color: white;
}

.topNav a {
  text-decoration: none;
  color: white;
}

.topNav a:hover {
  text-decoration: underline;
}

.topNav li:first-child {
  margin: 0 60px 0 30px;
}
